<!DOCTYPE html>
	<html lang="pt-br">
		<head>
			<meta charset="utf-8"/>
			<title>Formulário de cadastro de Notícia</title>
		</head>
	<body>

		<h1>Adicionar notícia</h1>

		<form action="/noticias/salvar" method="post">
			<label for="">Título</label>
			<input type="text" id="titulo" name="titulo" placeholder="Título da notícia">
			<br>
			<label for="">Notícia</label>
			<br>
			<textarea id="noticia" name="noticia" rows="5" cols="30"></textarea>
			<br>
			<label for="">Data da Notícia</label>
			<input type="date" name="dt_noticia" id="dt_noticia">
			<br>
			<label for="">Resumo</label>
			<input type="text" name="resumo" id="resumo">
			<br>
			<label for="">Autor</label>
			<input type="text" name="autor" id="autor">
			<input type="submit" value="Enviar">
		</form>


	</body>
</html>